{% extends "base.html" %}

{% block content %}
    <h1>Cambria Temperature Monitoring</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </p>
        <p>
            {{ form.machine.label }}<br>
            {{ form.machine(size=32) }}<br>
            {% for error in form.machine.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </p>
        <p>
            {{ form.maintemp.label }}<br>
            {{ form.maintemp(size=10) }}<br>
            {% for error in form.maintemp.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </p>
        <p>
            {{ form.auxtemp.label }}<br>
            {{ form.auxtemp(size=10) }}<br>
            {% for error in form.auxtemp.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endblock %}

